/*Cookie Recipe CSS
=================

- The background color for the page is #FFE
- The color for the text reading "Nutrition Information" is #887
- The link color is #900

- Bonus: The border on the page and around the image is black*/

/*---- trying to center everything -----*/
/*body:before, body:after {
    content: "";
    position: fixed;
    background: #900;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid #900;
    border-right: 10px solid #900;  
}
*/
/*--------------------------------------*/



/***************************
PAGE BODY STYLE 
***************************/

body {
	font-family: georgia, "Times New Roman",
        Times, serif;
	background-color: #FFE;
	color: #333;
	border: 40px solid #7F7F77;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20%;
}


/***************************
HEADLINE STYLES 
***************************/

/* green headline style */
h1 { 
    font-family: "adelle", serif;
	font-style: bold;
	font-weight: 900;
    color: #679952
}

/* green subheaders */
h4 {
    
    font-family: "adelle",serif;
    margin: 25px 0 0;
	font-style: normal;
	font-weight: 300;
	font-size: .8em;
	line-height: .8em;
    letter-spacing: .07em;
	color: #679952
}

h5 {
	color: #679952;
	font-family: "adelle", serif;
	font-weight: normal;
	line-height: .8em;
}



/***************************
PAGE HEADER STYLE 
***************************/

#header-style {
	text-align: center;
	margin: 0;
	background: #fff;
	border-color: #fff;
}



/***************************
PAGE PHOTO STYLE 
***************************/

#photo {
	text-align: center;
	margin: 0;
	padding: 0 5%;
}

#photo-caption {
	text-align: left;
	background: #fff;
	font-size: .8em;
	font-style: italic;
	margin: 0 22%;
	padding: 10px 5%;
}


/***************************
TYPE STYLES
***************************/

p {
	font-size: 1em;
}

p.extra-info {
	font-size: .8em;
	font-style: italic;
}

a, a:visited {
	text-decoration: none;
	color: #9A83B2;
}

a:hover {
	color: #806C94;
}


/* rule */

hr { 
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #cacaca;
    border-width: 1px;
}


/***************************
IMG STYLES
***************************/
img {
	margin: 2px;
	padding: 1px;
	border: 10px solid #B4CCAA;
	text-align: center;
}

figcaption {
	font-size: .8em;
	font-style: italic;
	text-align: center;
	margin: 2px;
	width: 588px;
    height: 80px;
    background-color: #CCCCBE;
}






