/*Cookie Recipe CSS
=================

- The background color for the page is #FFE
- The color for the text reading "Nutrition Information" is #887
- The link color is #900

- Bonus: The border on the page and around the image is black*/

/*---- trying to center everything -----*/
/*body:before, body:after {
    content: "";
    position: fixed;
    background: #900;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid #900;
    border-right: 10px solid #900;  
}
*/
/*--------------------------------------*/


body {
	margin:10px;
    padding:8px 100px 80px 40px;
	font-family: georgia, "Times New Roman",
        Times, serif;
	background-color: #FFE;
	border: 40px solid #7F7F77;
}

h1 { 
    color: #679952
}


h4 {
	font-family: Helvetica, Geneva, Arial,
    	SunSans-Regular, sans-serif;
    font-size: .8em;
    letter-spacing: .05em;
	color: #679952
}

h5 {
	color: #679952
}

p {
	font-size: 1em;
}

p.extra-info {
	font-size: .8em;
	font-style: italic;
}

hr { 
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #cacaca;
    border-width: 1px;
}

a {
	color: #900
}

img {
	margin: 2px;
	padding: 1px;
	border: 10px solid #B4CCAA;
}

figcaption {
	font-size: .8em;
	font-style: italic;
	text-align: center;
	margin: 2px;
	width: 588px;
    height: 80px;
    background-color: #CCCCBE;
}


address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted
}




